DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_CLIENT_ID=YOUR_DISCORD_BOT_CLIENT_ID
DISCORD_GUILD_ID=YOUR_DISCORD_SERVER_ID
MINECRAFT_USERNAME=SantoriaDiscordBot
ENABLE_MINEFLAYER=true # Set to 'true' to enable Mineflayer features, 'false' to disable.
